@import url(./reset.css);

body {
    background-color: rgb(69, 69, 69);
    overflow-y: hidden; /* Necessário para todo slider */
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

button {
    border: none;
    outline: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 16px;/* Refazer em full width fw */
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    height: 100vh; /* Opcional */
    position: relative;
}

header {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between; /* Inutil devido ao 'flex: 1' */
    align-items: center;
    padding: 40px 4%;
    z-index: 999;

    div,nav{
       flex: 1; /* Isso faz com que as divs e a nav ocupem o mesmo espaço dentro do header, e a nv ficará exatamente no meio */
    }

    ul{
        display: flex;
        gap: 36px;
        list-style-type: none;
    }

    .divButtons {
        display: flex;
        justify-content: end; /* Coloca a última div no FINAL dentro do seu espaço delimitado pelo 'flex: 1' */

        .primary {
            color: var(--black);
        }

        .secondary {
            color: var(--white);
            background-color: rgba(255, 255, 255, 0.129);
            border: 1px solid var(--white);
        }
    }
}

.slider {
    width: 100%;
    height: 100vh;
    position: relative;

    &.vermelho{
        background-color: #0E0000;
    }
    &.cinza{
        background-color: #222121;/* #AFABA7 */
    }
    &.verde{
        background-color: #0f160f;/* #324A32 */
    }
    &.marrom{
        background-color: #1b1510;/* #785D49 */
    }
    
    .slide {
        width: 100%;
        height: 100vh; /* ou 100% | NECESSÁRIO */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        .nike {
            position: absolute;
            
            h3 {
                font-size: 27vw;
                transition: all 1.3s cubic-bezier(1, -0.01, 0.18, 1);
            }
            
            h3:first-child{ /* ou nth-child(1) */
                color: rgba(255, 255, 255, 0.171);
                transform: translateY(200%);
            }

            h3:nth-child(2){
                position: absolute;
                top: 0;
                color: transparent;
                -webkit-text-stroke: 1px rgba(255, 255, 255, 0.171);
                transform: translateY(-200%);
            }
        }

        .tenis {
            position: relative;
            transform: translate(-200%, 100%) rotate(200deg);
              /* São parâmetros para fazer a animação ser mais rápida com o passar do tempo */
            transition: all 1.3s cubic-bezier(1, -0.01, 0.18, 1);
        }
        
        &.active{
            .tenis{
                transform: translate(0);
                transition: all 1.3s cubic-bezier(1, -0.01, 0.18, 1);
            }

            .nike{
                h3{
                    transform: translate(0);
                }
            }
        }
    }
}

.slider::before{
    content: "";
    position: absolute;
    width: 528px;
    height: 528px;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 50%;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(350px);/* Precisa sempre ser uma valor alto para não parecer falso */
    mix-blend-mode: color-dodge;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 4%;

    .left{
        img{
            mix-blend-mode: color-dodge;
            opacity: .6;
        }

        h2{
            font-size: 32px;
            font-style: italic;
            font-weight: 400;
        }

        small{
            font-size: 20px;
        }
    }

    .right{
        display: flex;
        gap: 20px;

        .tenisButton {
            position: relative;
            transition: all .6s cubic-bezier(1, -0.01, 0.18, 1);

            img {
                width: 80px;
                transform: rotate(20deg);
                transition: all .6s cubic-bezier(1, -0.01, 0.18, 1);
                filter: saturate(0);
            }
        }

        .tenisButton:hover {
            img {
                transform: rotate(5deg);
                transition: all .6s;
            }   
        }
        
        .tenisButton.active:hover {
            img {
                transform: rotate(0);
            }   
        }

        .tenisButton::before{
            content: "";
            width: 60px;
            height: 60px;
            background-color: #ffffff22;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .6s cubic-bezier(1, -0.01, 0.18, 1);
        }
    }
}

.footer .tenisButton.active img{
    width: 113px;
    transform: rotate(0);
    filter: saturate(1);
}

.footer .tenisButton.active::before{
    background-color: #ffffff00;
}


/* .footer .tenisButton:hover img{
    transform: translateY(-5px);
}
.footer .tenisButton.active:hover img{
    transform: translateY(0px);
}
.footer .tenisButton:hover::before {
    top: 30%;
} */
